@(message: String)
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Telstra Dashboard</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="@routes.Assets.versioned("libs/materialize/css/materialize.min.css")" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="@routes.Assets.versioned("libs/c3js/c3.min.css")" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="@routes.Assets.versioned("stylesheets/style.css")" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
      <div class="navbar-fixed">
        <nav class="light-blue darken-4 z-depth-2" role="navigation">
          <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">Telstra Dashboard</a>
            <ul class="right hide-on-med-and-down">
              <li><a href="/">Home</a></li>
              <li class="active"><a href="dashboard">Dashboard</a></li>
              <li><a href="/">Tools and Technology</a></li>
              <li><a href="/">Documentation</a></li>
            </ul>
          </div>
        </nav>
      </div>
    <div class="row">
      <div class="col s12 m4 l2">
        <div class="card hoverable">
          <div class="card-content"><span class="card-title black-text">Search Bar</span>
            <form>
              <div class="input-field">
                <input id="search" type="search" required>
                <label for="search">Enter Search Text</label>
              </div>
              <select class="browser-default" required>
                <option value="" disabled selected>Filter By</option>
                <option value="1">Programs</option>
                <option value="2">Source Systems</option>
                <option value="3">Source Feeds</option>
              </select><br>
              <a href="#" class="waves-effect btn blue-text white" onclick="showSearchResults()">Search</a>
            </form>
          </div>
        </div>
        <div class="row">
          <div id="results" class="card hoverable">
            <div class="card-content black-text"><span class="card-title black-text">Search Results</span>
              <ul class="tabs z-depth-1">
                <li class="tab col s3"><a class="active" href="#programs">Programs</a></li>
                <li class="tab col s3"><a  href="#sourceSystems">Source Systems</a></li>
                <li class="tab col s3"><a  href="#sourceFeeds">Feeds</a></li>
              </ul>
              <div id="programs" class="col s12 z-depth-1">
                <div class="collection">
                  <a href="#!" class="collection-item">DSL</a>
                  <a href="#!" class="collection-item">Networks</a>
                  <a href="#!" class="collection-item">CSA</a>
                  <a href="#!" class="collection-item">ONLINE</a>
                </div>
              </div>
              <div id="sourceSystems" class="col s12 z-depth-1">
                <div class="collection">
                  <a href="#!" class="collection-item">CSCI</a>
                  <a href="#!" class="collection-item">LIVECHAT 1.0</a>
                  <a href="#!" class="collection-item">CONEN 1.0</a>
                  <a href="#!" class="collection-item">NetHealth -> NDW</a>
                </div>
              </div>
              <div id="sourceFeeds" class="col s12">
                <div class="collection">
                  <a href="#!" class="collection-item">
                    <b>User Story:</b>US518<br>
                    <b>Big Data Owner:</b>Dinko Pita<br>
                    <b>App ID:</b>APP-978<br>
                    <b>Source:</b>CSCI<br>
                    <b>Data Description:</b>ALL_FIELDS_FILE<br>
                    <b>XFER Time:</b>31/12/1899 5:00:00 am<br>
                    <b>Size:</b>2gb<br>
                  </a>
                  <a href="#!" class="collection-item">
                    <b>User Story:</b>US518<br>
                    <b>Big Data Owner:</b>Dinko Pita<br>
                    <b>App ID:</b>APP-978<br>
                    <b>Source:</b>CSCI<br>
                    <b>Data Description:</b>ALL_FIELDS_FILE<br>
                    <b>XFER Time:</b>31/12/1899 9:00:00 am<br>
                    <b>Size:</b>3.5mb<br>
                  </a>
                  <a href="#!" class="collection-item">
                    <b>User Story:</b>US518<br>
                    <b>Big Data Owner:</b>Dinko Pita<br>
                    <b>App ID:</b>APP-978<br>
                    <b>Source:</b>CSCI<br>
                    <b>Data Description:</b>ALL_FIELDS_FILE<br>
                    <b>XFER Time:</b>31/12/1899 4:00:00 am<br>
                    <b>Size:</b>393mb<br>
                  </a>
                  <a href="#!" class="collection-item">
                    <b>User Story:</b>US518<br>
                    <b>Big Data Owner:</b>Dinko Pita<br>
                    <b>App ID:</b>APP-978<br>
                    <b>Source:</b>CSCI<br>
                    <b>Data Description:</b>ALL_FIELDS_FILE<br>
                    <b>XFER Time:</b>31/12/1899 3:30:00 am<br>
                    <b>Size:</b>9.9mb<br>
                  </a>
                  <a href="#!" class="collection-item">
                    <b>User Story:</b>US518<br>
                    <b>Big Data Owner:</b>Dinko Pita<br>
                    <b>App ID:</b>APP-978<br>
                    <b>Source:</b>CSCI<br>
                    <b>Data Description:</b>ALL_FIELDS_FILE<br>
                    <b>XFER Time:</b>31/12/1899 3:00:00 am<br>
                    <b>Size:</b>7kb<br>
                  </a>
                </div>
              </div>
            </div> 
          </div> 
        </div> 
      </div>
      <div class="col s12 m4 l8">
        <div class="card hoverable">
          <div class="card-content">
            <div class="card-action light-blue darken-3">
              <span class="card-title white-text"><h4>Timeline View</h4></span>
              <a href="#" class="waves-effect btn blue-text white" class="updateIntI(0)">Yearly</a>
              <a href="#" class="waves-effect btn blue-text white" class="updateIntI(1)">Monthly</a>
              <a href="#" class="waves-effect btn blue-text white" class="updateIntI(2)">Daily</a>
            </div>
            <br><br>
            <div id='timelineChart'></div>
            <br><br>
          </div>
        </div>
      </div> 
      <div class="col s12 m4 l2">
        <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header active"><h5>Today's Summary</h5></div>
          <div class="collapsible-body">
            <p>
              <span class="header"><b>75k records</b></span><br>
              <b>AppID:</b> APP-6638<br>
              <b>Duration:</b> 5mins<br>
              <b>Completed At:</b> 11:35PM, 15 July, 2015<br>
              <b>Next Schedule Run:</b> APP-957 on 16, 11:35PM, 16 July, 2015<br>
            </p>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><h5>Internal</h5></div>
          <div class="collapsible-body">
            <a id="editInternal" href="#" class="waves-effect btn blue-text white" onclick="editInternal()">Edit</a>
            <a id="saveInternal" href="#" class="waves-effect btn blue-text white" onclick="saveInternal()">Save</a>
            <p id="internalReadView">
              <b>User Story:</b><span id="userStoryVal"></span><br>
              <b>Kanban State:</b><span id="kanbanStateVal"></span><br>
              <b>Big Data Owner:</b><span id="bigDataOwnerVal"></span><br>
            </p>
            <form id="internalEditView">
                <div class="row">
                  <div>
                    <label for="lbluserstory">User Story</label>
                    <input id="lbluserstory" type="text" class="validate">
                    <label for="lblkanbanstate">Kanban State:</label>
                    <input id="lblkanbanstate" type="text" class="validate">
                    <label for="lblbigdataowner">Big Data Owner:</label>
                    <input id="lblbigdataowner" type="text" class="validate">
                  </div>
                </div>
            </form>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><h5>Application Metadata</h5></div>
          <div class="collapsible-body">
            <a id="editAppMetadata" href="#" class="waves-effect btn blue-text white" onclick="editAppMeta()">Edit</a>
            <a id="saveAppMetadata" href="#" class="waves-effect btn blue-text white" onclick="saveAppMeta()">Save</a>
            <p id="appMetaReadView">
              <b>App ID:</b><span id="appIDVal"></span><br>
              <b>Source:</b><span id="sourceVal"></span><br>
              <b>Data Description:</b><span id="dataDescriptionVal"></span><br>
              <b>Architecture Domain:</b><span id="architectureDomainVal"></span><br>
              <b>Use Cases:</b><span id="useCaseVal"></span><br>
              <b>Contact Person Details:</b><span id="contactDetailsVal"></span><br>
              <b>Data Layout:</b><span id="dataLayoutVal"></span><br>
            </p>
            <form id="appMetaEditView">
                <div class="row">
                  <div>
                    <label for="lblAppID">App ID:</label>
                    <input id="lblAppID" type="text" class="validate">
                    <label for="lblSource">Source:</label>
                    <input id="lblSource" type="text" class="validate">
                    <label for="lblDataDesc">Data Description:</label>
                    <input id="lblDataDesc" type="text" class="validate">
                    <label for="lblArchDom">Architecture Domain:</label>
                    <input id="lblArchDom" type="text" class="validate">
                    <label for="lblUseCases">Use Cases:</label>
                    <input id="lblUseCases" type="text" class="validate">
                    <label for="lblContactDetails">Contact Person Details:</label>
                    <input id="lblContactDetails" type="text" class="validate">
                    <label for="lblDataLayout">Data Layout:</label>
                    <input id="lblDataLayout" type="text" class="validate">
                  </div>
                </div>
            </form>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><h5>Sensitivity Indicators</h5></div>
          <div class="collapsible-body">
            <a id="editSensitivityIndicators" href="#" class="waves-effect btn blue-text white" onclick="editSensitivityIndicators()">Edit</a>
            <a id="saveSensitivityIndicators" href="#" class="waves-effect btn blue-text white" onclick="saveSensitivityIndicators()">Save</a>
            <p id="sensitivityIndicatorsReadView">
              <b>Customer Data:</b><span id="customerDataVal"></span><br>
              <b>Financial and Banking Information:</b><span id="financialAndBankInfoVal"></span><br>
              <b>Sensitive Customer Information:</b><span id="sensitiveCustomerInfoVal"></span><br>
              <b>Telstra Identifiers and Service History:</b><span id="telstraIdentifierVal"></span><br>
              <b>Credit Card Data:</b><span id="creditCardDataVal"></span><br>
              <b>Financial Reporting Data:</b><span id="financialReportingDataVal"></span><br>
              <b>Privacy Data:</b><span id="privacyDataVal"></span><br>
              <b>Regulatory Data:</b><span id="regulatoryDataVal"></span><br>
              <b>Is any “High Sensitivity” data captured:</b><span id="isSensitiveDataVal"></span><br>
              <b>NBN Confidential Information:</b><span id="nbnConfidentialInfoVal"></span><br>
              <b>NBN Compliant:</b><span id="nbnCompiantVal"></span><br>
            </p>
            <form id="sensitivityIndicatorsEditView">
                <div class="row">
                  <div>
                    <label for="lblcustomerData">Customer Data:</label>
                    <input id="lblcustomerData" type="text" class="validate">
                    <label for="lblfinancialAndBankInfo">Financial and Banking Information:</label>
                    <input id="lblfinancialAndBankInfo" type="text" class="validate">
                    <label for="lblsensitiveCustomerInfo">Sensitive Customer Information:</label>
                    <input id="lblsensitiveCustomerInfo" type="text" class="validate">
                    <label for="lbltelstraIdentifier">Telstra Identifiers and Service History:</label>
                    <input id="lbltelstraIdentifier" type="text" class="validate">
                    <label for="lblcreditCardData">Credit Card Data:</label>
                    <input id="lblcreditCardData" type="text" class="validate">
                    <label for="lblfinancialReportingData">Financial Reporting Data:</label>
                    <input id="lblfinancialReportingData" type="text" class="validate">
                    <label for="lblprivacyData">Privacy Data:</label>
                    <input id="lblprivacyData" type="text" class="validate">
                    <label for="lblregulatoryData">Regulatory Data:</label>
                    <input id="lblregulatoryData" type="text" class="validate">
                    <label for="lblisSensitiveData">Is any “High Sensitivity” data captured:</label>
                    <input id="lblisSensitiveData" type="text" class="validate">
                    <label for="lblnbnConfidentialInfo">NBN Confidential Information:</label>
                    <input id="lblnbnConfidentialInfo" type="text" class="validate">
                    <label for="lblnbnCompiant">NBN Compliant:</label>
                    <input id="lblnbnCompiant" type="text" class="validate">
                  </div>
                </div>
            </form>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><h5>SSU</h5></div>
          <div class="collapsible-body">
            <a id="editSSU" href="#" class="waves-effect btn blue-text white" onclick="editSSU()">Edit</a>
            <a id="saveSSU" href="#" class="waves-effect btn blue-text white" onclick="saveSSU()">Save</a>
            <p id="sSUReadView">
              <b>Is this data SSU Ready:</b><span id="isSSUReadyVal"></span><br>
              <b>SSU Remediation Method:</b><span id="sSURemediationVal"></span><br>
            </p>
            <form id="sSUEditView">
                <div class="row">
                  <div>
                    <label for="lblIsSSUReady">Is this data SSU Ready:</label>
                    <input id="lblIsSSUReady" type="text" class="validate">
                    <label for="lblSSURemediationMethod">SSU Remediation Method:</label>
                    <input id="lblSSURemediationMethod" type="text" class="validate">
                  </div>
                </div>
            </form>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><h5>Technical Details</h5></div>
          <div class="collapsible-body">
            <a id="editTechnicalDetails" href="#" class="waves-effect btn blue-text white" onclick="editTechnicalDetails()">Edit</a>
            <a id="saveTechnicalDetails" href="#" class="waves-effect btn blue-text white" onclick="saveTechnicalDetails()">Save</a>
            <p id="tdReadView">
              <b>Historical data available:</b><span id="histDataAvailVal"></span><br>
              <b>Historical data file size:</b><span id="histDataSizeVal"></span><br>
              <b>Frequency of delta / update:</b><span id="freqDeltaVal"></span><br>
              <b>Time data should be available:</b><span id="timeDataAvailVal"></span><br>
              <b>Data latency:</b><span id="dataLatencyVal"></span><br>
              <b>Subsequent data file size as per Frequency:</b><span id="subDataSizeVal"></span><br>
              <b>Format it comes in :</b><span id="formatVal"></span><br>
              <b>Data sourcing method :</b><span id="dataSourcingVal"></span><br>
              <b>Host Name:</b><span id="hostNameVal"></span><br>
              <b>Host IP:</b><span id="hostIPVal"></span><br>
              <b>Port Number:</b> <span id="portNumberVal"></span><br>
              <b>Network (EDN, BIGPOND, NEXUS, etc.,):</b><span id="networkVal"></span><br>
              <b>Database instance/name/schema/type:</b> <span id="dbInstanceVal"></span><br>
              <b>File location on server:</b><span id="fileLocVal"></span><br>
              <b>API data sourcing string:</b><span id="apiDSVal"></span><br>
              <b>Other comments:</b><span id="otherCommentsVal"></span><br>
            </p>
            <form id="tdEditView">
                <div class="row">
                  <div>
                    <label for="lblhistDataAvail">Historical data available:</label>
                    <input id="lblhistDataAvail" type="text" class="validate">
                    <label for="lblhistDataSize">Historical data file size:</label>
                    <input id="lblhistDataSize" type="text" class="validate">
                    <label for="lblfreqDelta">Frequency of delta / update:</label>
                    <input id="lblfreqDelta" type="text" class="validate">
                    <label for="lbltimeDataAvail">Time data should be available:</label>
                    <input id="lbltimeDataAvail" type="text" class="validate">
                    <label for="lbldataLatency">Data latency:</label>
                    <input id="lbldataLatency" type="text" class="validate">
                    <label for="lblsubDataSize">Subsequent data file size as per Frequency:</label>
                    <input id="lblsubDataSize" type="text" class="validate">
                    <label for="lblformat">Format it comes in:</label>
                    <input id="lblformat" type="text" class="validate">
                    <label for="lbldataSourcing">Data sourcing method:</label>
                    <input id="lbldataSourcing" type="text" class="validate">
                    <label for="lblhostName">Host Name:</label>
                    <input id="lblhostName" type="text" class="validate">
                    <label for="lblhostIP">Host IP:</label>
                    <input id="lblhostIP" type="text" class="validate">
                    <label for="lblportNumber">Port Number:</label>
                    <input id="lblportNumber" type="text" class="validate">
                    <label for="lblnetwork">Network (EDN, BIGPOND, NEXUS, etc.,):</label>
                    <input id="lblnetwork" type="text" class="validate">
                    <label for="lbldbInstance">Database instance/name/schema/type:</label>
                    <input id="lbldbInstance" type="text" class="validate">
                    <label for="lblfileLoc">File location on server:</label>
                    <input id="lblfileLoc" type="text" class="validate">
                    <label for="lblapiDS">API data sourcing string:</label>
                    <input id="lblapiDS" type="text" class="validate">
                    <label for="lblotherComments">Other comments:</label>
                    <input id="lblotherComments" type="text" class="validate">
                  </div>
                </div>
            </form>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><h5>Tracking and Source Date</h5></div>
          <div class="collapsible-body">
            <p>
              <b>Firewall status:</b> - <br>
              <b>eg Tables sourced:</b> - <br>
            </p>
          </div>
        </li>
      </ul>
      </div>
    </div>

  <footer class="page-footer light-blue lighten-1">
    <div class="footer-copyright">
      <div class="container black-text center">
        &copy; Copyright <a class="white-text text-lighten-3" href="https://www.telstra.com.au/">Telstra</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="@routes.Assets.versioned("javascripts/jquery-2.1.1.min.js")"></script>
  <script src="@routes.Assets.versioned("libs/materialize/js/materialize.min.js")"></script>
  <script src="@routes.Assets.versioned("libs/d3js/d3.min.js")"></script>
  <script src="@routes.Assets.versioned("libs/c3js/c3.min.js")"></script>
  <script src="@routes.Assets.versioned("javascripts/init.js")"></script>
  <script src="@routes.Assets.versioned("javascripts/graph.js")"></script>

  </body>
</html>
